@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #ff9a6c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

header nav a {
  text-decoration: none;
  color: white;
  padding: 32px;
  font-weight: 600;
  transition: 0.2s;
}

header nav a:hover {
  color: rgb(231, 231, 231);
}

#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  /* topo direita baixo esquerda */
  padding: 24px 80px 128px 80px;
  position: relative;
}

h1,
h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.botao {
  background-color: #ff9a6c;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
}

.botao_transp {
  background-color: transparent;
  color: #ff9a6c;
  padding: 16px 32px;
  text-underline-offset: 4px;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-bottom: 16px;
  margin-left: 32px;
}

#farmacia {
  padding: 64px 80px;
  text-align: center;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 2px solid #ff9a6c;
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}

.duvida .paragrafo {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ff9a6c;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
 padding: 0 24px;
 opacity: 0;
 height: 0;
 overflow: hidden;
 transition: .2s;
}

.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer{
    
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    gap: 80px;
    padding: 64px 80px;
  justify-content: space-between;

}

footer img,
footer .titulo {
display: block;
font-weight: 600;
margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p{
   margin-bottom: 16px;
   max-width: 350px;
}

footer p a{
    color: #263138;
    text-decoration: none;
}

#copyright{
    text-align: center;
    background-color: #263138;
    color: white;
    padding: 24px;
}

#copyright a{
    color: #ff9a6c;
}